@import "tailwindcss";

html {
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.safe-b {
  padding-bottom: env(safe-area-inset-bottom);
}
